/* card should have max width */
:root {
  --background-main: hsl(217, 54%, 11%);
  --background-card: hsl(216, 50%, 16%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-family: "Outfit", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: var(--background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Typography */
h1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
}
p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
.container {
  width: 350px;
}

/* Card */
.card {
  background: var(--background-card);
  padding: 2.5rem 2.5rem;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  width: 100%;
  position: relative;
  transition: all 0.15s;
}
.card__image > img {
  width: 100%;
  border-radius: 7px;
}

.bottom__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eth {
  display: flex;
  align-items: center;
}

.eth h2 {
  font-size: 18px;
  color: #00fff8;
}
.eth img {
  height: 1.5em;
  width: auto;
  margin-right: 1rem;
}
.timer p {
  display: inline;
}
.timer img {
  margin-right: 0.5rem;
  height: 25px;
}

hr {
  background-color: #2f415b;
  border: none;
  height: 1px;
}

.card__footer {
  display: flex;
  align-items: center;
}
.card__footer img {
  width: 35px;
  margin-right: 2rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

/* Hover Image */
.card__image:hover::after {
  cursor: pointer;
  position: absolute;
  content: url(images/icon-view.svg);
  width: 100%;
  background: rgba(0, 255, 247, 0.6);
  border-radius: 10px;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s;
}
.card__image:hover::after {
  opacity: 1;
  transition: all 0.15s;
}

.card__image:hover {
  transition: all 0.15s;
}

.card__footer .toggler {
  color: #fff;
}

.toggler:hover {
  color: #00fff8;
  cursor: pointer;
}
